.services-card{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.service-item-icon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    outline:solid 10px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    margin-bottom: 1vw;
    color: white;
    font-size: 30px;
}

.service-item-icon:hover{
    transition: all ease 1s;
    transform: rotateY(360deg);
}

.service-item>strong{
    font-weight: 800;
    font-size: 1.4vw;
    margin: 0px;
}

.service-item>p{
    margin: 0px;
    font-weight: lighter;
}