.slider-products{
    padding: 0 3vw;
    display: flex;
    gap: 1.5vw;
    flex-direction: row;
}

.product-slider{
    animation: RightToLeftAnimation 1s;
}

.show-all{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.show-all>button{
    background-color: #00FF66;
    border: none;
    padding: 0.8vw 1vw;
    width: 20vw;
    cursor: pointer;
    border-radius: 0.4vw;
    color: white;
    font-size: 1.3vw;
}

.show-all>button:hover{
    background-color: transparent;
    outline: solid 1px #00FF66;
    color: #00FF66;
}

.product-slider>hr{
    width: 80vw;
    margin-top: 3vw;
}

.slider-clicks{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
}

.slider-clicks>button{
    background-color: #00FF66;
    padding: 10px 13px;
    border: none;
    font-size: 1.6vw;
    align-items: center;
}

.slider-clicks>button:hover{
    color: white;
    cursor: pointer;
}

/* .slider-click-icon{
    background-color: #00FF66;
    padding: 15px 18px;
    border-radius: 5vw;
    font-size: 20px;
} */