.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar_logo{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar_logo>hr{
    height: 4vw;
}

.navbar_logo>img{
    width: 4vw;
    height: 4vw;
}

.navigation_bar>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
    font-weight: bold;
    
}

.navigation_bar>ul>li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.navigation_bar>ul>li>a:hover{
    color: black;
    text-decoration: underline 3px;
}

.search_bar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.7vw;
    border-radius: 6vw;
    justify-content: center;
}

.search_bar>input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 18vw;
    color: rgba(0, 0, 0, 0.7);
}

.search_bar>button{
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.7);
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
}

.icons>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.icons>a:hover{
    text-decoration: none;
    color: black !important;
}


.icons>a>i{
    font-size: 20px;
}

.icons>a>i>sup{
    background-color: green;
    font-size: 10px;
    padding: 0.3vw;
    border-radius: 100px;
    margin-left: -0.4vw;
}

.account-dropdown-menus{
    visibility: hidden;
    border-radius: 3px;
    align-items: center;
    width: 200px;
    background-color: rgba(30, 230, 90, 0.8);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3.4rem;
    top: 6.5rem;
    padding: 0.5px 20px;
    transition: all ease-in-out 0.3s;
}

.account-dropdown-menus>a{
    display: flex;
    flex-direction: row;
    width: inherit;
    padding: 20px;
    gap: 15px;
    justify-content: start;
    font-size: 15px;
    color: white;
}

.account-dropdown-menus>a>i{
    transform: rotateY(180deg);
}

.account-dropdown-menus>a:hover{
    transition: all ease-in-out 0.3s;
    background-color: rgba(250, 250, 250, 0.8);
    color: rgba(30, 230, 90, 1);
}

.icons-user-icon:hover + .account-dropdown-menus{
        visibility: visible;
}

.account-dropdown-menus:hover{
    visibility: visible;
}