.contact-page-info{
    display: flex;
    flex-direction: ro;
    padding: 2vw 5vw;
    flex: 7;
    gap: 3vw;
}

.contact-page-item{
    flex: 3;
}

.contact-page-info-left{
    animation:  LeftToRightAnimation 1s;
}

.contact-page-item>div{
    align-items: center;
    gap: 2vw;
}

.contact-page-item>p{
    display: flex;
}

.contact-icon{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 0.3vw;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;

}

.contact-page-right{
    flex: 4;
    animation: BottomToTopAnimation 1s;
}

.contact-page-right>form{
    gap: 2vw;
}

.contact-page-form-user-info>input{
    display: flex;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 0px 15px;
}

.contact-page-form-user-info{
    gap: 1vw;
}

.contact-page-form-user-message>textarea{
    display: flex;
    width: 93%;
    height: 200px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
    justify-content: start;
    align-items: start;
    padding: 1vw 2vw;
}

.contact-page-form-button{
    animation:  LeftToRightAnimation 1s;
    display: flex;
    justify-content: end;
}

.contact-page-form-button>button{
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    width: 20vw;
    background-color: green;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.contact-page-form-button>button:hover{
    background-color: transparent;
    outline: 1px solid green;
    color: green;
}

@media only screen and (max-width: 767px){
    .contact-page-info{
        flex-direction: column;
    }
    .contact-page-form-button{
        justify-content: center;
    }

    .contact-page-form-button>button{
        width: 50vw;
    }
}