.about-page-top-path{
    animation: TopToBottomAnimation 1s;
    display: flex;
    padding: 1vw 4vw;
    font-size: 18px;
    font-weight: 500;
}

.about-page-top-path>p{
    width: 40%;
    padding: 1vw 4vw;
    border-radius: 15px;
    color: rgba(0,0,0,0.5);
}

.about-page-top-path>p>span{
    color: black;
}