.product-image-preview{
    width: 4vw;
    height: 4vw;
}

.heading-popup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-popup>i{
    display: flex;
    font-size: 25px;
    
}

.heading-popup>i:hover{
    cursor: pointer;
    color: red;
    transition: all ease 0.3s;
    transform: scale(1.1);
}