.my-profile-content{
    background-color: white !important;
}

.my-account-page{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    justify-content: space-between;
}

.my-account-input{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 3vw;
}

.admin-page-main-top>img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: all ease 0.3s;
}

.admin-page-main-top>img:hover{
    transition: all ease 0.3s;
    filter: opacity(50%);
}


.my-account-input>input{
    height: 40px;
    font-size: 17px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1vw;
}

.my-profile-content>button{
    align-self: center;
    margin-top:50px;
    width: 40%;
    height: 40px;
    background-color: #00ff66;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    transition:  all ease 0.3s;
}

.my-profile-content>button:hover{
    background-color: transparent;
    color: #00ff66;
    outline: #00ff66 solid 1px;
    cursor: pointer;
    transition:  all ease 0.3s;
    width: 60%;
}

.admin-page-main-top>button>i{
    color: white;
}