body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Comment Code Styles */
.row{
    display: flex;
    flex-direction: row;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.col{
    display: flex;
    flex-direction: column;
}

.col-reverse{
    display: flex;
    flex-direction: column-reverse;
}


/* Animation fro the Components */

@keyframes LeftToRightAnimation {
  0% {
      transform: translateX(-300px);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: translateX(0px);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}

@keyframes RightToLeftAnimation {
  0% {
      transform: translateX(300px);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: translateX(0px);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}

@keyframes TopToBottomAnimation {
  0% {
      transform: translateY(-300px);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: translateY(0px);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}

@keyframes BottomToTopAnimation {
  0% {
      transform: translateY(300px);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: translateY(0px);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}

@keyframes ScaleUpAnimation {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}

@keyframes ScaleDownAnimation {
  0% {
      transform: scale(2);
      opacity: 0;
  }
  80%{
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1; /* Adjust the translation distance as needed */
  }
}
