.top_bar{
    display: flex;
    flex-direction: row;
    background-color: #00FF66;
    padding: 0.1vw 2vw;
    justify-content: space-around;
    align-items: center;
}

.top_bar>select{
    width: 8vw;
    height: 2vw;
    outline: none;
    border: none;
    background-color: transparent;
}

.top_bar>seletop_barct>option{
    display: flex;
    background-color: #00FF66;
}

.top_bar>p>a{
    color: black;
}

.top_bar>p>a:hover{
    color: white;
    transition: all ease-in-out 0.5s;
}

.icons{
    display: flex;
    gap: 2vw;
}

.icons>a{
    display: flex;
    flex-direction: column;
    color: #8B96A5;
    text-decoration: none;
    align-items: center;
}

.icons>a:hover{
    color: white;
    transition: all ease-in-out 0.3s;
}

.top_bar{
    animation: TopbarIntroAnimation 1s;
}

@keyframes TopbarIntroAnimation {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    80%{
        opacity: 0.5;
    }
    100% {
        transform: translateX(0px);
        opacity: 1; /* Adjust the translation distance as needed */
    }
}


@media only screen and (max-width: 767px){
    .top_bar>p{
        font-size: 13px;
    }

    .icons>a{
        gap: 0.2vw !important;
    }

    .icons>a>i{
        font-size: 15px !important;
    }

    .icons>a>small{
       display: none;
    }
}